cluster:
  server_name: {{ server_name }}
  enabled: true
  member_config:
  - entity: storage-pool
    name: default
    key: source
    value: ""
  server_address: {{ server_address }}:8443
  cluster_token: {{ token }}
