config:
  core.https_address: 0.0.0.0:8443
networks:
- name: incusbr0
  type: bridge
  config:
    ipv4.address: 172.16.252.1/22
    ipv4.dhcp: yes
    ipv4.nat: yes
    ipv4.dhcp.ranges: 172.16.254.11-172.16.255.254
    ipv4.ovn.ranges: 172.16.252.3-172.16.254.10
storage_pools:
- name: local
  driver: dir
profiles:
- name: default
  devices:
    root:
      path: /
      pool: local
      type: disk