{
        "ad_platform": {
                "teams" : [
                        "team1",
                        "team2",
                        "team3"
                ],
                "networks": {
                        "gameserver-network": "network",
                        "vulnboxes-network": "network",
                        "vpn-servers-networks": "network"
                },
                "player_number": 6
        },
        "incus_cluster": {
                "ansible_user": "user",
                "nodes": {
                        "node1": "ip_node1",
                        "node2": "ip_node2",
                        "node3": "ip_node3"
                },
                "project": "deafult",
                "instances_type": "container",

                "remote": "local"
        },
}
