{
        "ad-platform": {
                "teams" : [
                        "team1",
                        "team2",
                        "team3"
                ],
                "subnet_ip": {
                        "gameserver-network": "network",
                        "vulnboxes-network": "network",
                        "vpn-servers-networks": "network"
                }
        },
        "incus-cluster": {
                "nodes": [],
                "project": "deafult",
                "instances_type": "container",

                "player_number": 6,
                "remote": "local://"
        },
        "packer": {
                "service_folder": "/path/to/services"
        }
}
