[Interface]
Address = {{ client_address }}/32
PrivateKey = {{ client_private_key.stdout }}
DNS = 10.80.255.254

[Peer]
PublicKey = {{ server_public_key.stdout }}
Endpoint = {{ endpoint }}
AllowedIPs = 10.60.0.0/16, 10.80.0.0/16, 10.10.0.1/32, ::/0
