cluster:
  server_name: {{ server_name }}
  enabled: true
  member_config:
  - entity: storage-pool
    name: local
    key: source
    value: ""
    description: '"source" property for storage pool "local"'
  server_address: {{ server_address }}:8443
  cluster_token: {{ token }}
